table,
tr,
td {
    border: none;
}

td {
    vertical-align: initial;
}

.todo-item {
    margin-top: 0.9em;
    margin-bottom: 0.9em;
}

.todo-status:hover {
    cursor: pointer;
    font-weight: bold;
}

.todo-label {
    width: 100%;
}

.todo-label:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.done {
    text-decoration: line-through;
}

.actions {
    font-weight: bold;
    color: red;
}

.actions:hover {
    cursor: pointer;
    color: #000;
}

.error {
    color: red;
}