<!DOCTYPE html>
<html lang="en" class="nope">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Todo", suffix: " · List" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/todo.css")}/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link rel="icon" type="image/x-icon" href="../images/to-do-list.png">
  </head>
  <body class="bg-body relative font-sans">
    <div class="container mx-auto max-w-[960px] z-50">
      <%= @inner_content %>
    </div>
    <div class="dark:bg-gray-600 dark:opacity-90 fixed h-full w-full top-0 -z-50"></div>
  </body>
</html>
